# **Project Part 01 - EDA on Housing DataSet**

## <font size="5">**Setting up the project** </font>

In [1]:
# Import Liabraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set the style for all plots to a default Matplotlib style
plt.style.use('default')

# Import Data:
house_df = pd.read_csv("raw_house_data.csv")

## <font size="5">**Initial data inspection** </font>
<font size="3">In this part, we will do an initial data inspection to get a first idea about it.</font>

In [2]:
# Display basic information about the dataset
print("Dataset Information:")
house_df.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MLS               5000 non-null   int64
 1   sold_price        5000 non-null   float64
 2   zipcode           5000 non-null   int64
 3   longitude         5000 non-null   float64
 4   latitude          5000 non-null   float64
 5   lot_acres         4990 non-null   float64
 6   taxes             5000 non-null   float64
 7   year_built        5000 non-null   int64
 8   bedrooms          5000 non-null   int64
 9   bathrooms         4994 non-null   float64
 10  sqrt_ft           4944 non-null   float64
 11  garage            4993 non-null   float64
 12  kitchen_features  4967 non-null   object
 13  fireplaces        5000 non-null   object
 14  floor_covering    4999 non-null   object
 15  HOA               4438 non-null   object
dtypes: float64(8), int64(4), object(4)
memory usage: 625.1+ KB

In [3]:
# Display summary statistics of the numerical columns
print("Summary Statistics:")

house_df.describe()

Summary Statistics:

,MLS,sold_price,zipcode,longitude,latitude,lot_acres,taxes,year_built,bedrooms,bathrooms,sqrt_ft,garage
count,5.000000e+03,5.000000e+03,5000.000000,5000.000000,5000.000000,4990.000000,5.000000e+03,5000.00000,5000.000000,4994.000000,4944.000000,4993.000000
mean,2.127070e+07,7.746262e+05,85723.025600,-110.912107,32.308512,4.661317,9.402828e+03,1992.32800,3.933800,3.829896,3716.366828,2.816143
std,2.398508e+06,3.185556e+05,38.061712,0.120629,0.178028,51.685230,1.729385e+05,65.48614,1.245362,1.387063,1120.683515,1.192946
min,3.042851e+06,1.690000e+05,85118.000000,-112.520168,31.356362,0.000000,0.000000e+00,0.00000,1.000000,1.000000,1100.000000,0.000000
25%,2.140718e+07,5.850000e+05,85718.000000,-110.979260,32.277484,0.580000,4.803605e+03,1987.00000,3.000000,3.000000,3047.000000,2.000000
50%,2.161469e+07,6.750000e+05,85737.000000,-110.923420,32.318517,0.990000,6.223760e+03,1999.00000,4.000000,4.000000,3512.000000,3.000000
75%,2.180480e+07,8.350000e+05,85749.000000,-110.859078,32.394334,1.757500,8.082830e+03,2006.00000,4.000000,4.000000,4130.250000,3.000000
max,2.192856e+07,5.300000e+06,86323.000000,-109.454637,34.927884,2154.000000,1.221508e+07,2019.00000,36.000000,36.000000,22408.000000,30.000000

In [4]:
# Check for missing values in each column
print("Missing Values:")
house_df.isnull().sum()

Missing Values:

MLS                   0
sold_price            0
zipcode               0
longitude             0
latitude              0
lot_acres            10
taxes                 0
year_built            0
bedrooms              0
bathrooms             6
sqrt_ft              56
garage                7
kitchen_features     33
fireplaces            0
floor_covering        1
HOA                 562
dtype: int64

In [5]:
# Display the first few rows of the dataset
print("First few rows:")
house_df.head()

First few rows:

,MLS,sold_price,zipcode,longitude,latitude,lot_acres,taxes,year_built,bedrooms,bathrooms,sqrt_ft,garage,kitchen_features,fireplaces,floor_covering,HOA
0,21530491,5300000.0,85637,-110.378200,31.356362,2154.00,5272.00,1941,13,10.0,10500.0,0.0,"Dishwasher, Freezer, Refrigerator, Oven",6,"Mexican Tile, Wood",0
1,21529082,4200000.0,85646,-111.045371,31.594213,1707.00,10422.36,1997,2,2.0,7300.0,0.0,"Dishwasher, Garbage Disposal",5,"Natural Stone, Other",0
2,3054672,4200000.0,85646,-111.040707,31.594844,1707.00,10482.00,1997,2,3.0,NaN,NaN,"Dishwasher, Garbage Disposal, Refrigerator",5,"Natural Stone, Other: Rock",NaN
3,21919321,4500000.0,85646,-111.035925,31.645878,636.67,8418.58,1930,7,5.0,9019.0,4.0,"Dishwasher, Double Sink, Pantry: Butler, Refri...",4,"Ceramic Tile, Laminate, Wood",NaN
4,21306357,3411450.0,85750,-110.813768,32.285162,3.21,15393.00,1995,4,6.0,6396.0,3.0,"Dishwasher, Garbage Disposal, Refrigerator, Mi...",5,"Carpet, Concrete",55

In [6]:
# Display the number of unique values
print("Unique Values per Column:")
house_df.nunique()

Unique Values per Column:

MLS                 5000
sold_price          1092
zipcode               56
longitude           4762
latitude            4821
lot_acres            645
taxes               4719
year_built           112
bedrooms              15
bathrooms             19
sqrt_ft             2361
garage                21
kitchen_features    1871
fireplaces            11
floor_covering       310
HOA                  380
dtype: int64

In [7]:
# Check the unique values in categorical columns
categorical_columns = house_df.select_dtypes(include=['object']).columns
for col in categorical_columns:
    print(f"\nUnique values in {col}:")
    print(house_df[col].value_counts())
    print(f"Number of unique values: {house_df[col].nunique()}")

Unique values in kitchen_features:
kitchen_features
Dishwasher, Garbage Disposal, Refrigerator, Microwave, Oven                                                                                                                     1719
Dishwasher, Garbage Disposal, Microwave, Oven                                                                                                                                    270
Compactor, Dishwasher, Garbage Disposal, Refrigerator, Microwave, Oven                                                                                                           189
Dishwasher, Garbage Disposal, Refrigerator, Oven                                                                                                                                 181
Dishwasher, Freezer, Garbage Disposal, Refrigerator, Microwave, Oven                                                                                                             127
                                                                                                                                                                                ...
Dishwasher, Double Sink, Garbage Disposal, Gas Range, Refrigerator, Oven: Gas Range/Oven                                                                                           1
Dishwasher, Garbage Disposal, Gas Range, Island, Pantry: Closet, Refrigerator, Appliance Color: Stainless, Countertops: Caesarstone, Microwave: GE Profile, Oven: GE Profile       1
Dishwasher, Gas Range, Countertops: Stained Concrete                                                                                                                               1
Dishwasher, Garbage Disposal, Gas Range, Island, Lazy Susan, Pantry: Walk-In, Refrigerator, Appliance Color: Stainless, Countertops: granite, Microwave: yes, Oven: yes            1
Dishwasher, Double Sink, Garbage Disposal, Gas Range, Island, Pantry: Cabinet, Refrigerator, Appliance Color: Stainless                                                            1
Name: count, Length: 1871, dtype: int64
Number of unique values: 1871

Unique values in fireplaces:
fireplaces
1    1806
2    1604
3     849
0     303
4     294
5      89
       25
6      18
7       9
9       2
8       1
Name: count, dtype: int64
Number of unique values: 11

Unique values in floor_covering:
floor_covering
Carpet, Ceramic Tile                               1235
Carpet, Natural Stone                               579
Carpet, Ceramic Tile, Wood                          258
Ceramic Tile                                        247
Concrete                                            242
                                                   ...
Carpet, Ceramic Tile, Other: Wood Laminate            1
Concrete, Wood, Other: Tile bathrooms                 1
Carpet, Ceramic Tile, Other: Wood Plan Laminate       1
Carpet, Other: Marble                                 1
Concrete, Other: Cork                                 1
Name: count, Length: 310, dtype: int64
Number of unique values: 310

Unique values in HOA:
HOA
0         824
5         123
100       107
50         85
40         72
         ...
210         1
112.38      1
5.4         1
36.66       1
78.65       1
Name: count, Length: 380, dtype: int64
Number of unique values: 380

In [8]:
# Check for any duplicate rows
duplicates = house_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [9]:
# Display basic statistics for the 'sold_price' column
print("Basic statistics for 'sold_price':")
print(house_df['sold_price'].describe())

Basic statistics for 'sold_price':
count    5.000000e+03
mean     7.746262e+05
std      3.185556e+05
min      1.690000e+05
25%      5.850000e+05
50%      6.750000e+05
75%      8.350000e+05
max      5.300000e+06
Name: sold_price, dtype: float64

In [10]:
# Check for any negative or zero values in 'sold_price'
invalid_prices = house_df[house_df['sold_price'] <= 0]
print(f"Number of invalid (<=0) sold prices: {len(invalid_prices)}")

Number of invalid (<=0) sold prices: 0

In [11]:
# Display the range of years in 'year_built'
print(f"Minimum year: {house_df['year_built'].min()}")
print(f"Maximum year: {house_df['year_built'].max()}")

Minimum year: 0
Maximum year: 2019

<font size="5">**Renaming columns:** </font>

<font size="3">Here, I rename some columns for more consistency and readability </font>

In [12]:
newColumns = {'MLS': "mls",'sold_price': "price", "HOA": "hoa"}
house_df.rename(columns=newColumns, inplace=True)

print(f"Columns after modification: \n {house_df.columns}")

Columns after modification:
 Index(['mls', 'price', 'zipcode', 'longitude', 'latitude', 'lot_acres',
       'taxes', 'year_built', 'bedrooms', 'bathrooms', 'sqrt_ft', 'garage',
       'kitchen_features', 'fireplaces', 'floor_covering', 'hoa'],
      dtype='object')

## <font size="5">**Initial EDA using plots** </font>

In [13]:
# 2. Heatmap of Missing Values - BEFORE
plt.figure(figsize=(14, 12))
sns.heatmap(house_df.isnull(), cbar=False, cmap='viridis', yticklabels=False)
plt.title('Heatmap of Missing Values - BEFORE', fontsize=12)
plt.savefig('plots_before/2-heatMapOfMissingValues.png')
plt.close()
print("heatMapOfMissingValues_before is saved!")

# 3. Histogram of sold prices
plt.figure(figsize=(10, 6))
plt.hist(house_df['price'], bins=30, edgecolor='black')
plt.title('Distribution of Sold Prices', fontsize=16)
plt.xlabel('Sold Price ($)', fontsize=12)
plt.ylabel('Frequency', fontsize=12)
plt.savefig('plots_before/3-sold_price_distribution.png')
plt.close()

# 4. Correlation heatmap of key numerical features
key_features = ['price', 'lot_acres', 'taxes', 'year_built', 'bedrooms', 'bathrooms', 'sqrt_ft']
plt.figure(figsize=(12, 10))
corr_matrix = house_df[key_features].corr()
sns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap='coolwarm', cbar=True)
plt.title('Correlation Matrix of Key Features', fontsize=16)
plt.savefig('plots_before/4-correlation_heatmap.png')
plt.close()

# 5. Box plots of key numerical features
plt.figure(figsize=(14, 8))
house_df[key_features].boxplot()
plt.title('Box Plots of Key Numerical Features', fontsize=16)
plt.xticks(rotation=45)
plt.savefig('plots_before/5-boxplots_key_features.png')
plt.close()

# 6. Scatter plot of longitude vs latitude (geographical distribution)
plt.figure(figsize=(12, 8))
scatter = plt.scatter(house_df['longitude'], house_df['latitude'], c=house_df['price'], cmap='viridis', alpha=0.6)
plt.colorbar(scatter, label='Sold Price ($)')
plt.title('Geographical Distribution of Houses', fontsize=16)
plt.xlabel('Longitude', fontsize=12)
plt.ylabel('Latitude', fontsize=12)
plt.savefig('plots_before/6-geographical_distribution.png')
plt.close()

# 7. Bar plot of average sold price by number of bedrooms
avg_price_by_bedrooms = house_df.groupby('bedrooms')['price'].mean().sort_index()
plt.figure(figsize=(12, 6))
avg_price_by_bedrooms.plot(kind='bar')
plt.title('Average Sold Price by Number of Bedrooms', fontsize=16)
plt.xlabel('Number of Bedrooms', fontsize=12)
plt.ylabel('Average Sold Price ($)', fontsize=12)
plt.savefig('plots_before/7-avg_price_by_bedrooms_1_barPlot.png')
plt.close()

# 7. Violin plot of average sold price by number of bedrooms
sns.violinplot(x='bedrooms', y='price', data=house_df, palette='muted')
plt.title('Price Distribution by Number of Bedrooms')
plt.xlabel('Number of Bedrooms')
plt.ylabel('Sold Price')
plt.savefig('plots_before/7-avg_price_by_bedrooms_2_violinPlot.png')
plt.close()

# 8. Top 10 kitchen features
top_kitchen_features = house_df['kitchen_features'].value_counts().nlargest(10)
plt.figure(figsize=(12, 6))
top_kitchen_features.plot(kind='bar')
plt.title('Top 10 Kitchen Features', fontsize=16)
plt.xlabel('Kitchen Features', fontsize=12)
plt.ylabel('Count', fontsize=12)
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.savefig('plots_before/8-top_kitchen_features.png')
plt.close()

# 9. Scatter plot of year built vs sold price
plt.figure(figsize=(10, 6))
plt.scatter(house_df['year_built'], house_df['price'], alpha=0.5)
plt.title('Year Built vs Sold Price', fontsize=16)
plt.xlabel('Year Built', fontsize=12)
plt.ylabel('Sold Price ($)', fontsize=12)
plt.savefig('plots_before/9-year_built_vs_sold_price.png')
plt.close()

# 10. Histogram plots of numerical features:
numeric_df = house_df.select_dtypes(include=['float64', 'int64'])
numeric_df.hist(bins=30, figsize=(14, 10), color='yellow', edgecolor='red')
plt.suptitle('Histograms of Numerical Features', fontsize=22)
plt.savefig('plots_before/10-histogram_numerical_features.png')
plt.close()

# 11. Reg plot of Sold Price vs. Square Footage:
plt.figure(figsize=(12, 8))
sns.regplot(x='sqrt_ft', y='price', data=house_df, scatter_kws={'alpha':0.5}, line_kws={'color':'red'})
plt.title('Sold Price vs. Square Footage')
plt.xlabel('Square Footage')
plt.ylabel('Sold Price')
plt.savefig('plots_before/11-soldPrice_vs_squareFootage.png')
plt.close()

# 12. Visualizing the average sold price by zipcode
# Aggregating data by zip code
zipcode_data = house_df.groupby('zipcode').agg({
    'price': 'mean',
    'mls': 'count',  # Assuming MLS is a unique identifier for properties
    'lot_acres': 'mean',
    'bedrooms': 'mean'
}).reset_index()

plt.figure(figsize=(12, 8))
sns.barplot(x='zipcode', y='price', data=zipcode_data, palette='viridis')
plt.title('Average Sold Price by Zipcode')
plt.xlabel('Zipcode')
plt.ylabel('Average Sold Price')
plt.xticks(rotation=45)
plt.savefig('plots_before/12-averageSoldPrice_by_zipCode.png')
plt.close()

# 13. Pair plot of Key Features

sns.pairplot(house_df, diag_kind='kde', plot_kws={'alpha':0.5}, markers='+',
             vars=['price', 'lot_acres', 'taxes', 'bedrooms', 'sqrt_ft', 'garage'])

plt.suptitle('Pairplot of Key Features', y=1.02)
plt.savefig('plots_before/13-pairPlot_keyFeatures.png')
plt.close()
plt.show()


print("All visualizations have been created and saved.")

heatMapOfMissingValues_before is saved!

C:\Users\Younes Abaroudi\AppData\Local\Temp\ipykernel_22312\3270685383.py:56: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.violinplot(x='bedrooms', y='price', data=house_df, palette='muted')
C:\Users\Younes Abaroudi\AppData\Local\Temp\ipykernel_22312\3270685383.py:110: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x='zipcode', y='price', data=zipcode_data, palette='viridis')

All visualizations have been created and saved.

## <font size="5">**Handling missing values and Data Quality issues** </font>

In [14]:
threshold = len(house_df) * 0.1
house_df = house_df.dropna(thresh=threshold, axis=1)

<font size="3">We don't have any deletions since the missing values are fewer, we can completely drop them but I would prefer use the median and mode() to impute the missing values so we can have more data for trainning the model. Consider dropping them completely if we get inaccurate result after implementing the model.</font>

<font size="3">**Handling missing Values in numerical and categorical columns** </font>

In [15]:
# 1. Handle missing values
def impute_missing_values(df):
    # Impute numerical columns with median
    numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
    for col in numeric_columns:
        df[col] = df[col].fillna(df[col].median())
    
    # Impute categorical columns with mode
    categorical_columns = df.select_dtypes(include=['object']).columns
    for col in categorical_columns:
        df[col] = df[col].fillna(df[col].mode()[0])
    
    return df

house_df = impute_missing_values(house_df)

print("Post-Check for missing values:")
house_df.isnull().sum()

Post-Check for missing values:

mls                 0
price               0
zipcode             0
longitude           0
latitude            0
lot_acres           0
taxes               0
year_built          0
bedrooms            0
bathrooms           0
sqrt_ft             0
garage              0
kitchen_features    0
fireplaces          0
floor_covering      0
hoa                 0
dtype: int64

<font size="5">**Correct data quality issues** </font> <br><br>
<font size="3"> Handling data quality issues and outliers </font>

In [16]:
# 2. Correct data quality issues
house_df.loc[house_df['year_built'] == 0, 'year_built'] = house_df['year_built'].median()
house_df['bedrooms'] = house_df['bedrooms'].clip(upper=10)
house_df['bathrooms'] = house_df['bathrooms'].clip(upper=10)

# # 4. Normalize numerical features
# numerical_columns = house_df.select_dtypes(include=['float64', 'int64']).columns
# house_df[numerical_columns] = (house_df[numerical_columns] - house_df[numerical_columns].mean()) / house_df[numerical_columns].std()

<font size="5">**Initial feature engineering** </font> <br> <br>
<font size="3"> Creating 3 new features:
- num_kit_features
- bedroom_bathroom_ratio
- price_per_sqft "   </font>

In [17]:
# Create Number of kitchen feature:
house_df["num_kit_features"] = house_df["kitchen_features"].str.split(",").apply(len)
house_df["num_kit_features"]

# Create bedroom_bathroom_ratio feature:
house_df['bedroom_bathroom_ratio'] = house_df['bedrooms'] / house_df['bathrooms']

# Create price_per_sqft feature:
house_df['price_per_sqrt'] = house_df['price'] / house_df['sqrt_ft']

## <font size="5">**Handling Outliers** </font>

*Chosen solution-01:* IQR Method for "price" feature <br> <br>
<font size="2">*Justifying the solution:*
* We have a right-skewed distribution: The distribution is not symmetric and is skewed to the right, it indicates that the data is not normally distributed. So we will use IQR method to handle the outliers instead of the zscore method</font>

*Chosen solution-02:* Zscore Method for the following features('lot_acres', 'taxes', 'sqrt_ft')" <br> <br>

In [18]:
# Defining method for detecting outliners using IQR method
def remove_outliers_iqr(df, columns):
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df

# Defining method for detecting outliners using Zscore method
def remove_outliers_zscore(df, columns, n_std=3):
    for col in columns:
        mean = df[col].mean()
        std = df[col].std()
        df = df[(df[col] >= mean - n_std * std) & (df[col] <= mean + n_std * std)]
    return df


# Applying methods to remove outliers
house_df = remove_outliers_zscore(house_df, ["taxes"], n_std=3)
house_df = remove_outliers_zscore(house_df, ["sqrt_ft"], n_std=3)
house_df = remove_outliers_zscore(house_df, ["year_built"], n_std=3)

outlier_columns_iqr = ['lot_acres']
house_df = remove_outliers_iqr(house_df, outlier_columns_iqr)

<font size="5">**Data type consistency** </font> <br> <br>
<font size="3"> The purpose of this phase to make the data types consistent"   </font>

In [19]:
# Convert from object type to float64
house_df['fireplaces'] = pd.to_numeric(house_df['fireplaces'], errors="coerce").fillna(0).astype(int)
house_df['hoa'] = pd.to_numeric(house_df['hoa'], errors="coerce").fillna(0).astype(int)

# Convert from float to int
house_df["bathrooms"] = house_df["bathrooms"].astype(int)
house_df["garage"] = house_df["garage"].astype(int)

print("Data types post-rectification:")
house_df.dtypes

Data types post-rectification:

mls                         int64
price                     float64
zipcode                     int64
longitude                 float64
latitude                  float64
lot_acres                 float64
taxes                     float64
year_built                  int64
bedrooms                    int64
bathrooms                   int64
sqrt_ft                   float64
garage                      int64
kitchen_features           object
fireplaces                  int64
floor_covering             object
hoa                         int64
num_kit_features            int64
bedroom_bathroom_ratio    float64
price_per_sqrt            float64
dtype: object

**Post check dataset after clean up**

In [20]:
print("Cleaned dataset shape:{house_df.shape}")

# Display summary of the cleaned dataset
print("\nCleaned Dataset Information:")
print(house_df.info())
print("\nSummary Statistics of Cleaned Dataset:")
print(house_df.describe())

Cleaned dataset shape:{house_df.shape}

Cleaned Dataset Information:
<class 'pandas.core.frame.DataFrame'>
Index: 4203 entries, 4 to 4998
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   mls                     4203 non-null   int64
 1   price                   4203 non-null   float64
 2   zipcode                 4203 non-null   int64
 3   longitude               4203 non-null   float64
 4   latitude                4203 non-null   float64
 5   lot_acres               4203 non-null   float64
 6   taxes                   4203 non-null   float64
 7   year_built              4203 non-null   int64
 8   bedrooms                4203 non-null   int64
 9   bathrooms               4203 non-null   int64
 10  sqrt_ft                 4203 non-null   float64
 11  garage                  4203 non-null   int64
 12  kitchen_features        4203 non-null   object
 13  fireplaces              4203 non-null   int64
 14  floor_covering          4203 non-null   object
 15  hoa                     4203 non-null   int64
 16  num_kit_features        4203 non-null   int64
 17  bedroom_bathroom_ratio  4203 non-null   float64
 18  price_per_sqrt          4203 non-null   float64
dtypes: float64(8), int64(9), object(2)
memory usage: 656.7+ KB
None

Summary Statistics of Cleaned Dataset:
                mls         price       zipcode    longitude     latitude  \
count  4.203000e+03  4.203000e+03   4203.000000  4203.000000  4203.000000
mean   2.137517e+07  7.574071e+05  85724.660481  -110.920075    32.331400
std    1.982542e+06  2.720880e+05     33.670734     0.091211     0.132222
min    3.042851e+06  1.690000e+05  85118.000000  -111.430863    31.451945
25%    2.140753e+07  5.840000e+05  85718.000000  -110.978280    32.291521
50%    2.161464e+07  6.740000e+05  85737.000000  -110.923607    32.322173
75%    2.180522e+07  8.250000e+05  85750.000000  -110.862144    32.404579
max    2.192856e+07  3.411450e+06  85935.000000  -109.861617    34.314889

         lot_acres         taxes   year_built     bedrooms    bathrooms  \
count  4203.000000   4203.000000  4203.000000  4203.000000  4203.000000
mean      1.052929   6620.308330  1996.327385     3.857959     3.731858
std       0.781567   3204.701471    14.637387     0.817206     0.918995
min       0.000000      0.000000  1942.000000     2.000000     2.000000
25%       0.535000   4782.975000  1989.000000     3.000000     3.000000
50%       0.890000   6138.000000  2000.000000     4.000000     4.000000
75%       1.220000   7887.255000  2006.000000     4.000000     4.000000
max       3.360000  30072.260000  2019.000000    10.000000    10.000000

           sqrt_ft       garage   fireplaces          hoa  num_kit_features  \
count  4203.000000  4203.000000  4203.000000  4203.000000       4203.000000
mean   3596.675708     2.793719     1.802522    80.629788          6.572924
std     837.733410     0.956721     1.064338    91.108505          2.966110
min    1690.000000     0.000000     0.000000     0.000000          1.000000
25%    3038.000000     2.000000     1.000000     5.000000          5.000000
50%    3476.000000     3.000000     2.000000    54.000000          5.000000
75%    4020.000000     3.000000     2.000000   133.000000          9.000000
max    7002.000000    30.000000     7.000000   925.000000         15.000000

       bedroom_bathroom_ratio  price_per_sqrt
count             4203.000000     4203.000000
mean                 1.070273      212.773296
std                  0.259866       60.443429
min                  0.500000       81.013404
25%                  1.000000      177.593064
50%                  1.000000      203.423120
75%                  1.333333      233.971073
max                  2.500000      969.305331

In [21]:
house_df["floor_covering"].value_counts()

floor_covering
Carpet, Ceramic Tile                               1144
Carpet, Natural Stone                               521
Carpet, Ceramic Tile, Wood                          219
Ceramic Tile                                        201
Concrete                                            196
                                                   ...
Ceramic Tile, Other: porcelain wood tile              1
Carpet, Ceramic Tile, Other: Wood Laminate            1
Carpet, Ceramic Tile, Other: Wood Plan Laminate       1
Carpet, Other: Marble                                 1
Concrete, Other: Cork                                 1
Name: count, Length: 256, dtype: int64

## **Encode all categorical variables**

In [22]:
# 5. Encode all categorical variables
house_df = pd.get_dummies(house_df, columns=["floor_covering"], drop_first=True)

In [23]:
house_df.shape

(4203, 273)

## <font size="5">**EDA after data clean up** </font>

The purpose of doing the EDA after cleaning the data is to ensure that the data is clean and ready to push to the Model team.

In [24]:
# 2. Heatmap of Missing Values - BEFORE
plt.figure(figsize=(14, 12))
sns.heatmap(house_df.isnull(), cbar=False, cmap='viridis', yticklabels=False)
plt.title('Heatmap of Missing Values - AFTER', fontsize=12)
plt.savefig('plots_before/2-heatMapOfMissingValues.png')
plt.close()
print("heatMapOfMissingValues is saved!")

# 3. Histogram of sold prices
plt.figure(figsize=(10, 6))
plt.hist(house_df['price'], bins=30, edgecolor='black')
plt.title('Distribution of Sold Prices', fontsize=16)
plt.xlabel('Sold Price ($)', fontsize=12)
plt.ylabel('Frequency', fontsize=12)
plt.savefig('plots_after/3-sold_price_distribution.png')
plt.close()

# 4. Correlation heatmap of key numerical features
key_features = ['price', 'lot_acres', 'taxes', 'year_built', 'bedrooms', 'bathrooms', 'sqrt_ft']
plt.figure(figsize=(12, 10))
corr_matrix = house_df[key_features].corr()
sns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap='coolwarm', cbar=True)
plt.title('Correlation Matrix of Key Features', fontsize=16)
plt.savefig('plots_after/4-correlation_heatmap.png')
plt.close()

# 5. Box plots of key numerical features
plt.figure(figsize=(14, 8))
house_df[key_features].boxplot()
plt.title('Box Plots of Key Numerical Features', fontsize=16)
plt.xticks(rotation=45)
plt.savefig('plots_after/5-boxplots_key_features.png')
plt.close()

# 6. Scatter plot of longitude vs latitude (geographical distribution)
plt.figure(figsize=(12, 8))
scatter = plt.scatter(house_df['longitude'], house_df['latitude'], c=house_df['price'], cmap='viridis', alpha=0.6)
plt.colorbar(scatter, label='Sold Price ($)')
plt.title('Geographical Distribution of Houses', fontsize=16)
plt.xlabel('Longitude', fontsize=12)
plt.ylabel('Latitude', fontsize=12)
plt.savefig('plots_after/6-geographical_distribution.png')
plt.close()

# 7. Bar plot of average sold price by number of bedrooms
avg_price_by_bedrooms = house_df.groupby('bedrooms')['price'].mean().sort_index()
plt.figure(figsize=(12, 6))
avg_price_by_bedrooms.plot(kind='bar')
plt.title('Average Sold Price by Number of Bedrooms', fontsize=16)
plt.xlabel('Number of Bedrooms', fontsize=12)
plt.ylabel('Average Sold Price ($)', fontsize=12)
plt.savefig('plots_after/7-avg_price_by_bedrooms_1_barPlot.png')
plt.close()

# 7. Violin plot of average sold price by number of bedrooms
sns.violinplot(x='bedrooms', y='price', data=house_df, palette='muted')
plt.title('Price Distribution by Number of Bedrooms')
plt.xlabel('Number of Bedrooms')
plt.ylabel('Sold Price')
plt.savefig('plots_after/7-avg_price_by_bedrooms_2_violinPlot.png')
plt.close()

# 8. Top 10 kitchen features
top_kitchen_features = house_df['kitchen_features'].value_counts().nlargest(10)
plt.figure(figsize=(12, 6))
top_kitchen_features.plot(kind='bar')
plt.title('Top 10 Kitchen Features', fontsize=16)
plt.xlabel('Kitchen Features', fontsize=12)
plt.ylabel('Count', fontsize=12)
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.savefig('plots_after/8-top_kitchen_features.png')
plt.close()

# 9. Scatter plot of year built vs sold price
plt.figure(figsize=(10, 6))
plt.scatter(house_df['year_built'], house_df['price'], alpha=0.5)
plt.title('Year Built vs Sold Price', fontsize=16)
plt.xlabel('Year Built', fontsize=12)
plt.ylabel('Sold Price ($)', fontsize=12)
plt.savefig('plots_after/9-year_built_vs_sold_price.png')
plt.close()

# 10. Histogram plots of numerical features:
numeric_df = house_df.select_dtypes(include=['float64', 'int64'])
numeric_df.hist(bins=30, figsize=(14, 10), color='yellow', edgecolor='red')
plt.suptitle('Histograms of Numerical Features', fontsize=22)
plt.savefig('plots_after/10-histogram_numerical_features.png')
plt.close()

# 11. Reg plot of Sold Price vs. Square Footage:
plt.figure(figsize=(12, 8))
sns.regplot(x='sqrt_ft', y='price', data=house_df, scatter_kws={'alpha':0.5}, line_kws={'color':'red'})
plt.title('Sold Price vs. Square Footage')
plt.xlabel('Square Footage')
plt.ylabel('Sold Price')
plt.savefig('plots_after/11-soldPrice_vs_squareFootage.png')
plt.close()

# 12. Visualizing the average sold price by zipcode
# Aggregating data by zip code
zipcode_data = house_df.groupby('zipcode').agg({
    'price': 'mean',
    'mls': 'count',  # Assuming MLS is a unique identifier for properties
    'lot_acres': 'mean',
    'bedrooms': 'mean'
}).reset_index()

plt.figure(figsize=(12, 8))
sns.barplot(x='zipcode', y='price', data=zipcode_data, palette='viridis')
plt.title('Average Sold Price by Zipcode')
plt.xlabel('Zipcode')
plt.ylabel('Average Sold Price')
plt.xticks(rotation=45)
plt.savefig('plots_after/12-averageSoldPrice_by_zipCode.png')
plt.close()

# 13. Pair plot of Key Features
sns.pairplot(house_df, diag_kind='kde', plot_kws={'alpha':0.5}, markers='+',
             vars=['price', 'lot_acres', 'taxes', 'bedrooms', 'sqrt_ft', 'garage', "num_kit_features"])

plt.suptitle('Pairplot of Key Features', y=1.02)
plt.savefig('plots_after/13-pairPlot_keyFeatures.png')
plt.close()
plt.show()

print("All visualizations have been created and saved.")

heatMapOfMissingValues is saved!

C:\Users\Younes Abaroudi\AppData\Local\Temp\ipykernel_22312\918962222.py:56: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.violinplot(x='bedrooms', y='price', data=house_df, palette='muted')
C:\Users\Younes Abaroudi\AppData\Local\Temp\ipykernel_22312\918962222.py:110: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x='zipcode', y='price', data=zipcode_data, palette='viridis')

All visualizations have been created and saved.

## <font size="5">**Saving the cleaned dataset post-EDA** </font>

In [25]:
house_df.to_csv("raw_house_data_cleaned.csv")